<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <a href="https://github.com/caseyscarborough/notes"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">home</a>
              <a class="extra" href="/about">about</a>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Casey Scarborough<br />
                  <a href="mailto:caseyscarborough@gmail.com">caseyscarborough@gmail.com</a>
                </p>
              </div>
              <div class="links">
                <p>
                  <a href="http://blog.caseyscarborough.com/">Blog</a>&nbsp;&middot;&nbsp;
                  <a href="http://github.com/caseyscarborough/">GitHub</a>
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
    </body>
</html>
